openapi: 3.0.3
info:
  title: REST Countries API Client
  version: 1.0.0
  description: Unofficial OpenAPI client for REST Countries API.

servers:
  - url: https://restcountries.com/v3.1

paths:
  /all:
    get:
      operationId: getAllCountries
      summary: Get all countries
      parameters:
        - name: fields
          in: query
          required: false
          schema:
            type: string
          example: name,capital,region,population,flags
      responses:
        "200":
          description: List of countries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Country"

  /name/{name}:
    get:
      operationId: getCountriesByName
      summary: Search countries by name
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
          example: israel
        - name: fullText
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: fields
          in: query
          required: false
          schema:
            type: string
          example: name,capital,region,population,flags
      responses:
        "200":
          description: Countries matching name
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Country"

  /alpha/{code}:
    get:
      operationId: getCountryByCode
      summary: Search country by alpha code
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
          example: us
        - name: fields
          in: query
          required: false
          schema:
            type: string
          example: name,capital,region,population,flags
      responses:
        "200":
          description: Country matching code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Country"

  /currency/{currency}:
    get:
      operationId: getCountriesByCurrency
      summary: Search countries by currency
      parameters:
        - name: currency
          in: path
          required: true
          schema:
            type: string
          example: usd
        - name: fields
          in: query
          required: false
          schema:
            type: string
          example: name,currencies,capital,region
      responses:
        "200":
          description: Countries using currency
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Country"

  /region/{region}:
    get:
      operationId: getCountriesByRegion
      summary: Search countries by region
      parameters:
        - name: region
          in: path
          required: true
          schema:
            type: string
          example: europe
        - name: fields
          in: query
          required: false
          schema:
            type: string
          example: name,capital,region,population,flags
      responses:
        "200":
          description: Countries in region
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Country"

components:
  schemas:
    Country:
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Name"
        tld:
          type: array
          items:
            type: string
        cca2:
          type: string
        ccn3:
          type: string
        cca3:
          type: string
        independent:
          type: boolean
          nullable: true
        status:
          type: string
        unMember:
          type: boolean
        currencies:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Currency"
        capital:
          type: array
          items:
            type: string
        region:
          type: string
        subregion:
          type: string
        languages:
          type: object
          additionalProperties:
            type: string
        latlng:
          type: array
          items:
            type: number
        landlocked:
          type: boolean
        borders:
          type: array
          items:
            type: string
        area:
          type: number
        population:
          type: integer
        timezones:
          type: array
          items:
            type: string
        continents:
          type: array
          items:
            type: string
        flags:
          $ref: "#/components/schemas/Flags"
        maps:
          $ref: "#/components/schemas/Maps"

    Name:
      type: object
      properties:
        common:
          type: string
        official:
          type: string
        nativeName:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/NativeName"

    NativeName:
      type: object
      properties:
        official:
          type: string
        common:
          type: string

    Currency:
      type: object
      properties:
        name:
          type: string
        symbol:
          type: string

    Flags:
      type: object
      properties:
        png:
          type: string
        svg:
          type: string
        alt:
          type: string

    Maps:
      type: object
      properties:
        googleMaps:
          type: string
        openStreetMaps:
          type: string